<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @attendee.name %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @attendee.date_of_birth %>
</p>

<p>
  <strong>Identification:</strong>
  <%= @attendee.identification %>
</p>

<p>
  <strong>Address:</strong>
  <%= @attendee.address %>
</p>

<%= link_to 'Edit', edit_attendee_path(@attendee) %> |
<%= link_to 'Back', attendees_path %>
